<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Share</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <div class="container">
            <h1 class="d-flex justify-content-start">Welcome {{ session["user_name"] }}</h1>
        </div>
        <div class="row no-gutters">
            <div class="col-6 col-md-4">
                <p class="d-flex justify-content-start">All posted recipes:</p>
            </div>
            <div class="col-6 col-md-4">
                <a href="/recipes/new" class="text-primary text-decoration-none d-flex justify-content-end">+ create</a>
            </div>
            <div class="col-6 col-md-4">
                <a href="/logout" class="text-primary text-decoration-none d-flex justify-content-end">logout</a>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead class="table-info">
                    <tr>
                        <th>Name</th>
                        <th>Under 30 Minutes</th>
                        <th>Posted By</th>
                        <th>Actions</th>
                    </tr>
                <tbody>
                    {% for recipe in all_recipes %}
                        <tr>
                            <td>{{recipe.name}}</td>
                                {% if recipe.cook_time == "1" %}
                                    <td>Yes</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                            <td>{{recipe.user.first_name}}</td>
                            <td>
                                <a href="/recipes/{{recipe.id}}">view recipe |</a>
                                {% if recipe.user.id == session["user_id"] %}
                                    <a href="/recipes/edit/{{recipe.id}}">edit |</a>
                                    <a href="/recipes/delete/{{recipe.id}}">delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>